.CreateTodoButton {
  background-color: var(--color-ligth-blue);
  bottom: 24px;
  border-radius: 50%;
  border: 75px;
  color: white;
  height: 64px;
  left: 89%;
  line-height: 1;
  font-size: 64px;
  font-weight: 900;
  padding: 0;
  position: sticky;
  width: 64px;
  transform: rotate(0);
  transition: .3s ease;
}


.CreateTodoButton:hover {
  transform: rotate(90deg);
  transition: .3s ease;
}