@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  /* font */
  --font-family: 'Montserrat', sans-serif;
  --font-size-title: 24px;
  --font-size-regular: 18px;
  --font-weight-bold: 700;
  --font-weigth-regular: 400; 

  /* Colors */
  --color-black-1: #1E1E1F;
  --color-black-2: #202329;
  --color-red: #FE2E2E;
  --color-green: #01BE01;
  --color-gray: #7C7C7C;
  --color-gray-shadow: #7c7c7c5c;
  --color-ligth-blue: #61DAFA;
  --color-white: #FAFAFA;
  --color-ligth-gray: #F2F4F5;

  /* Color general element */
  --color-background: var(--color-ligth-gray);
  --box-shadow-general: 1px 2px 50px 5px var(--color-gray-shadow);
}

body {
  background-color: var(--color-background);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black-1);
}

#root {
  color: var(--color-black-1);
  margin: 0 auto;
  max-width: 768px;
  padding: 0 24px;
  text-align: center;
}

ul {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
