.TodoSearch {
    height: 64px;
    border: 2px solid;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    box-shadow: var(--box-shadow-general);
    -webkit-box-shadow: var(--box-shadow-general);
    -moz-box-shadow: var(--box-shadow-general);
    font-size: 24px;
    margin-bottom: 64px;
    max-width: 279px;
    width: 100%;
    text-align: center;
}