.TodoItem {
    display: flex;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    margin-bottom: 24px;
    box-shadow: var(--box-shadow-general);
    position: relative;
}

.TodoItem:last-child {
    margin-bottom: 0;
}

.TodoItem-text {
    flex-grow: 1;
    color: var(--color-black-font);
    font-size: var(--font-size-regular);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TodoItem-Icon__check {
    display: grid;
    place-content: center;
    padding: 0 22px 0 10px;
}

.TodoItem-Icon__delete {
    flex-basis: 12px;
    position: absolute;
    right: 10px;
    top: -10px;
}

.TodoItem-Icon__delete:hover {
    color: var(--color-red);
    cursor: pointer;
}

.TodoItem-Icon__check--completed {
    color: var(--color-green);
}

.TodoItem-text--completed {
    text-decoration: line-through;
}